[Desktop Entry]
Name=BigWallpaper
GenericName=Big Wallpaper
Comment=Update wallpaper with images from Boston BigPicture
Exec=big_wallpaper
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Icon=big_wallpaper.png